.stage {
  padding-top: 150px;
  margin: auto;
  width: fit-content;

  image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED */
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera  */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Universal support since 2021 */
  image-rendering: optimize-contrast; /* CSS3 Proposed */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+ */

  --void-bg: #242424;

  --layer-tile: 0;
  --layer-floor: 1;
  --layer-sprite: 2;
  --layer-overlay: 3;
}

.field {
  --cell-size: 32px;
  --rows: 0;
  --cols: 0;

  --z-index-overlay: calc(var(--layer-overlay) + var(--rows));

  position: relative;
  display: inline-grid;
  grid-template-rows: repeat(var(--rows), var(--cell-size));
  grid-template-columns: repeat(var(--cols), var(--cell-size));
  background-color: hsl(200deg 100% 20%);

  background-image: repeating-linear-gradient(
      0deg,
      transparent,
      transparent calc(var(--cell-size) - 1px),
      magenta var(--cell-size)
    ),
    repeating-linear-gradient(
      -90deg,
      transparent,
      transparent calc(var(--cell-size) - 1px),
      magenta var(--cell-size)
    );
}

.sprite {
  z-index: calc(var(--layer-sprite) + var(--z-index, 0));
  background-repeat: no-repeat;
  align-self: end;
  object-fit: none;
  object-position: top left;
  margin-left: calc(var(--cell-size) * var(--offset-col, 0px));
  margin-top: calc(var(--cell-size) * var(--offset-row, 0px));
}

.sprite-32x64 {
  width: 32px;
  height: 64px;
}

.sprite-64x64 {
  width: 64px;
  height: 64px;
}

.sprite-32x96 {
  width: 32px;
  height: 96px;
}

.sprite-64x96 {
  width: 64px;
  height: 96px;
}

.sprite-96x64 {
  width: 96px;
  height: 64px;
}
