.stage {
  margin: 200px;

  image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED */
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera  */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Universal support since 2021 */
  image-rendering: optimize-contrast; /* CSS3 Proposed */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+ */

  --layer-tile: 0;
  --layer-floor: 1;
  --layer-sprite: 2;
  --layer-overlay: 3;
}

.field {
  --cell-size: 64px;
  --rows: 10;
  --cols: 10;

  --z-index-overlay: calc(var(--layer-overlay) + var(--rows));

  position: relative;
  display: inline-grid;
  grid-template-rows: repeat(var(--rows), var(--cell-size));
  grid-template-columns: repeat(var(--cols), var(--cell-size));
  background-color: hsl(200deg 100% 20%);

  background-image: repeating-linear-gradient(
      0deg,
      transparent,
      transparent calc(var(--cell-size) - 1px),
      magenta var(--cell-size)
    ),
    repeating-linear-gradient(
      -90deg,
      transparent,
      transparent calc(var(--cell-size) - 1px),
      magenta var(--cell-size)
    );
}

.tile {
  z-index: var(--layer-tile);
  background-repeat: repeat;
}

.sprite {
  z-index: calc(var(--layer-sprite) + var(--z-index, 0));
  background-repeat: no-repeat;
  align-self: end;
  object-fit: none;
  object-position: top left;
}

.transparent {
  opacity: 0.5;
}

.wall {
  background-image: url("/ceil1.png"), url("/wall3.png");
  background-repeat: repeat-x;
  background-position: top, bottom;
  margin-top: -110px;
  background-position:
    0px 0px,
    0px 20px;
}

.wall-top-corner {
  background-image: url("/ceil_top_left_1.png"), url("/ceil_left_1.png");
  background-repeat: no-repeat, repeat-y;
  margin-left: -20px;
  margin-bottom: 16px;
  margin-top: -110px;
  z-index: var(--z-index-overlay);
}

.wall-flip {
  scale: -1 1;
  margin-left: 0;
  margin-right: -20px;
}

.wall-bottom-corner {
  background-image: url("/ceil_bottom_left_1.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: left;
  margin-bottom: -16px;
  margin-left: -20px;
  z-index: var(--z-index-overlay);
}

.wall-bottom {
  background-image: url("/ceil2.png");
  background-repeat: repeat-x;
  background-position-y: bottom;
  background-position-x: calc(var(--cell-size) / 2), left;
  margin: 0 -20px calc(var(--cell-size) / -2) -20px;
  margin-bottom: -16px;
  z-index: var(--z-index-overlay);
}

.sprite-32x64 {
  width: 32px;
  height: 64px;
}

@keyframes playerSpriteAnimationFrom1 {
  0% {
    --sprite-col: -1;
  }
  25% {
    --sprite-col: -2;
  }
  50% {
    --sprite-col: -3;
  }
  75% {
    --sprite-col: -4;
  }
}

@keyframes playerSpriteAnimationIdle {
  0% {
    --sprite-col: 0;
  }
  25% {
    --sprite-col: -1;
  }
  50% {
    --sprite-col: -2;
  }
  75% {
    --sprite-col: -3;
  }
  100% {
    --sprite-col: -2;
  }
}

.player {
  --player-size: 64px;
  --sprite-col: 0;
  --sprite-row: 0;

  width: var(--player-size);
  aspect-ratio: 1 / 1;
  background-color: rgb(46 139 87 / 0.5);

  grid-area: 1 / 1 / 3 / 3;
  background-repeat: repeat;
  /* align-self: center; */

  --player-offset: 0px;

  translate: calc(var(--col, 0) * var(--cell-size) - var(--player-offset))
    calc(var(--row, 0) * var(--cell-size) - var(--player-offset));

  background-image: url("/cat64.png");
  background-position: calc(var(--sprite-col, 0) * var(--player-size))
    calc(var(--sprite-row, 0) * var(--player-size) - 10px);
}

.player-running {
  --cell-speed: 400ms;
  animation: playerSpriteAnimationFrom1;
  animation-duration: var(--cell-speed);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.player-idle {
  animation: playerSpriteAnimationIdle;
  --sprite-row: -4 !important;
  animation-duration: 1000ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
